body{
  margin: auto;
  max-width: 1000px;
  font-family: 'Courier New', Courier, monospace;
}
.App {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.applicant-heading, .program-heading, .heading{
  align-self: center;
}

.applicant-row, .program-row, .system-message-and-controls, .control-row {
  display: flex;
  flex-direction: row;
}

.system-message-and-controls {
  align-items: center;
  background-color: ghostwhite;
  padding: 15px;
  margin-top: 20px;
}

.system-message{
  align-self:flex-start;
}

.applicant-row {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}


.applicant-box, .program-box{
  flex: 2 1 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  margin: 5px;
}

.applicant-stable-true{
  border: 2px solid green;
}

.applicant-stable-false{
  border: 2px solid orange;
}

.applicant-match-No {
  border: 2px solid red;
}


.app-name, .program-name{
  font-size: x-large;
  padding-bottom: 10px;
  align-self: center;
}

.app-status {
  padding-bottom: 10px;
}

.app-ranks{
  display:flex;
  flex-direction: column;
}

.Arthurtrue, .Sunnytrue, .Josephtrue, 
.Lathatrue, .Darriustrue {
  transition: 1s;
}

.Arthurtrue {
  background-color: aquamarine;
  border-radius: 2px;
}

.Sunnytrue {
  background-color: lightcoral;
  border-radius: 2px;
}

.Josephtrue {
  background-color: lightcyan;
  border-radius: 2px;
}

.Lathatrue {
  background-color: lightsalmon;
  border-radius: 2px;
}

.Darriustrue {
  background-color: lightyellow;
  border-radius: 2px;
}


.applicant-proposed-true-acc-false {
  text-decoration: line-through;
}

.space-filler {
  flex: 10 1 5px;
}

.app-match {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.app-status-label{
  text-align: center;
}

.program-capcity {
  align-self: center;
  padding-bottom: 10px;
}


.button {
  background-color: #f4ebb8; /* Green */
  border-radius: 25px;
  border: 2px solid goldenrod;
  color: goldenrod;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 140px;
  margin: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: goldenrod; /* Green */
  color: white;
}

.disable-true {
  background-color: lightgrey; /* Green */
  border: 2px solid grey;
  color: white;
  pointer-events: none; 
}